.blog-post-container {
  margin-top: 3rem;
}

.blog-post {
  max-width: 640px;

  .blog-post-content a {
    color: $PRIMARY;
    text-decoration: none;
  }

  .blog-post-content a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

.card {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  display: inline-block;

  img {
    width: 100%;
    height: auto; 
  }

  .project-meta {
    padding: 1rem;
  }
}