// Color Palette
$PRIMARY:         #A81E35;
$PRIMARY-ALT:     #BD2D2D;
$PRIMARY-BRIGHT:  #fc0125;

$ORANGE:          #d36135;
$ACCENT:          #4A1942;

$WHITE:           #EEEEEE;
$LIGHTGREY:       #DDDDDD;
$MEDGREY:         #CCCCCC;
$BLACK:           #080808;

$BGCOLOR:         #FFFFFF;

// Breakpoints
$xsmall: 768px;
$medium: 1280px;
$large:  1920px;
