@import "variables";
@import "responsive";
@import "nav";
@import "home";
@import "blog";


// General
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#root {
   min-height:100%;
   width:100%;
   position:absolute;
}

body {
  background-color: $BGCOLOR;
  margin: 0;

  main {
    margin: 0 1rem;
    @media screen and (max-width: $xsmall) {
      padding-bottom: 60px;
    }
  }

  .hero {
    min-height: 30vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

  .split-container {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .left-container, .right-container {
    @media screen and (min-width: $medium) {
      width: 50%;
    }

    @media screen and (max-width: $medium) {
      width: 100%;
    }

    h2 {
      color: $MEDGREY;
    }

    ul {
      list-style-type: none;
      list-style-position: inside;
      padding-left: 0;

      li {
        color: $LIGHTGREY;

        a {
          color: $LIGHTGREY;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $BLACK;
    color: $WHITE;
    padding: 1rem 0;

    @media screen and (max-width: $xsmall) {
      font-size: 0.7em;
    }
  }

  .lefty, .righty {
    min-height: 350px;
  }
  .lefty {
    background-color: $PRIMARY;
  }

  .righty {
    background-color: $ACCENT;
  }
}

// Grid
.flexgrid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;

  @media screen and (max-width: $xsmall) {
    width: 100%;
  }
}


// Typography
body{
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
}


// Flexclasses
.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-med-up {
    @media screen and (min-width: $medium) {
    display: flex;
    justify-content: center;
  }
}

.v-center {
  display: flex;
  align-items: center;
}
